**/*.lo
**/*.la
**/*.o
**/*.in
**/.deps
**/.*.swp
**/Makefile
**/errors/*.lang
**/.dirstamp
cfgaux
squid*.tar.gz
squid*.tar.bz2
squid*.tar.xz
!squid.spec
configure
config.status
config.log
libtool
libltdl
!squid.spec.in
